.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(224, 224, 224);
}
.content {
  padding: 20px;
  max-width: 500px;
  background-color: white;
}
.lorem {
  padding: 10px;
  font-size: 1.5rem;
}
.user {
  display: flex;
  justify-content: space-between;
}
.all-count {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.flex-left {
  display: flex;
}
.flex-left div {
  margin-right: 10px;
}
.flex-right {
  display: flex;
}
.flex-right div {
  margin-left: 10px;
}
.comment-scroll {
  overflow-y: scroll;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.comment-scroll::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera*/
}
#form-commentInfo {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 5px;
}
.empty-box {
  height: 60px;
}
.comment-container {
  width: 100%;
  max-width: 500px;
}
.comment {
  position: fixed;
  width: 100%;
  max-width: 500px;
  padding: 20px;
  background-color: rgba(240, 240, 240, 0.9);
}
#comment-count {
  margin-bottom: 10px;
}
#comment-input {
  width: 80%;
  height: 40px;
}
#submit {
  display: none;
}
#submitLabel {
  width: 18%;
}
#submitLabelDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(255, 81, 81);
  height: 45px;
  font-size: 15px;
  font-weight: bold;
  color: aliceblue;
  text-align: center;
  border-radius: 5px;
  margin-left: 5px;
}
#comments {
  margin-top: 10px;
}
.eachComment {
  margin: 10px;
  padding: 0.5em;
  border-bottom: 1px solid #c1bcba;
}
.eachComment .name {
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 0.3em;
  display: flex;
  justify-content: space-between;
}
.eachComment .inputValue {
  font-size: 1em;
}
.eachComment .time {
  font-size: 0.7em;
  color: #c1bcba;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}
.eachComment .voteDiv {
  display: flex;
  justify-content: flex-end;
}
.eachComment .deleteComment {
  color: rgb(49, 49, 49);
}
.editTextArea {
  width: 75%;
  margin-bottom: -9px;
}
.editSubmit {
  width: 17%;
  height: 30px;
  margin-left: 5px;
  border-radius: 5px;
  color: white;
  background-color: rgb(255, 81, 81);
}

.text_input {
  width: 88%;
  padding: 15px;
  margin: 5px 0 12px 0;
  display: inline-block;
  border: 1px solid rgba(230, 230, 230, 0.7);
  border-radius: 10px;
}
.loginBtn {
  background-color: red;
  color: white;
  width: 100%;
  height: 40px;
  margin: 8px 0;
  border: none;
  border-radius: 10px;
  font-size: 18px;
  font-weight: bolder;
  cursor: pointer;
}
.btn {
  cursor: pointer;
}

.modal-container {
  display: flex;
  flex-direction: column;
  padding: 10px 16px;
  border-radius: 20px;
}

/* 배경화면(로그인창 바깥) */
.modal {
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed; /* 포지션 픽스 */
  left: 0;
  top: 0;
  width: 100%; /* 가로길이 */
  height: 100%; /* 세로높이 */
  overflow: auto; /* 필요하면 스크롤 가능 */
  background-color: rgba(90, 90, 90, 0.9);
}

/* 로그인창 */
.login-form {
  background-color: #fefefe;
  border: 1px solid #888;
  border-radius: 20px;
  width: 85%;
  max-width: 500px;
}
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}
.sns-login-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.sns-btn-group {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  width: 100%;
  max-width: 230px;
  height: 35px;
  border-radius: 11px;
  font-weight: bolder;
  cursor: pointer;
}
#btn-naver {
  color: white;
  background-color: #06cf5c;
}
#btn-kakao {
  color: #3b1e1e;
  background-color: #f9df01;
}
#btn-apple {
  background-color: #050708;
  color: #f7f7f7;
}
#btn-facebook {
  color: #f7f7f7;
  background-color: #4064ac;
}
#btn-google {
  color: #f7f7f7;
  background-color: #d14e44;
}
#btn-twitter {
  color: #f7f7f7;
  background-color: #1c9cea;
}

/* 종료버튼 (x) */
.close {
  float: right;
  font-size: 40px;
  font-weight: bold;
  color: black;
  align-self: flex-end;
}

.close:hover,
.close:focus {
  color: #f44336;
  cursor: pointer;
}
